<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-6 col-offset-3 col-sm-6 col-sm-offset-3 padding-top padding-bottom">
            <div class="card hovercard">
                <div class="cardheader">
                  <img class="center-block" src="assets/img/kinesis_live_logo_white.png" style="max-width: 300px; padding-top: 25px;"/>
                </div>
                <div class="avatar">
                    <img alt="" src="assets/img/Brock_with_cube.jpg">
                </div>
                <div class="info">
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                        <h1 class="purple-text">
                          About Me
                        </h1>
                    </div>
                    <p>My name is <a href="https://brocktubre.com/"><strong>Brock Tubre</strong></a> and I am a developer, designer, architect, and teacher. To learn more about me visit <a href="https://brocktubre.com/">https://brocktubre.com</a>. Cheers!</p>
                </div>
                <div class="bottom">
                    <a class="purple-text" rel="publisher" href="https://www.linkedin.com/in/brocktubre/">
                      <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a class="purple-text" href="https://twitter.com/BrockTubre">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a class="purple-text" rel="publisher"
                    href="https://github.com/brocktubre">
                      <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a class="purple-text" rel="publisher"
                      href="mailto:brocktubre+kinesis-live@gmail.com">
                        <i class="far fa-envelope fa-2x"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>
