<app-navbar></app-navbar>
  <!-- Content for the main page -->
  <div class="container-fluid background" style="padding: 0;" >
    <div class="container">
            <div class="container col-md-6 col-sm-12">
                <h2>How can I donate?</h2>
                <p>You can donate using our secure PayPal donation button below. Any donations will most like go towards a cold beer so let me know what beer I should try and I'll have a beer on you!</p>
                <form action="https://www.paypal.com/donate" method="post" target="_top" style="padding-top: 10px;">
                    <input type="hidden" name="business" value="KWTWTVGAFY2C6" />
                    <input type="hidden" name="item_name" value="Kinesis Live" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
            <div class="container col-md-6 col-sm-12">
                <h2>Why would you donate?</h2>
                <p>I honestly have no idea why you would donate, but if you love using this app to stream data into Kinesis then share the love.</p>
            </div>  
            <div class="container col-md-12 text-center" style="padding-bottom: 100px;">
                
            </div> 
    <app-footer></app-footer>
    </div>
</div>
<app-footer-tail></app-footer-tail>
