<app-navbar></app-navbar>
  <!-- Content for the main page -->
  <div class="container-fluid background" style="padding: 0;" >
    <div class="container">
            <div class="container col-md-12 col-sm-12 text-center">
                <h2>Thank you for your donation!</h2>
                <p>I'll probably use this to buy a nice cold beer so cheers to your donation!</p>
            </div> 
            <div class="container col-md-12 text-center" style="padding-bottom: 50px; padding-top: 25px;">
                <img src="assets/img/thanks.gif" class="">
            </div> 
    <app-footer></app-footer>
    </div>
</div>
<app-footer-tail></app-footer-tail>
