@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.fas {
	padding: 0 10px 0 10px;
}

.background{
  min-width: 100%;
  padding: 0;
}

body, h1, h2, h3{
  font-family: 'Poppins', sans-serif;
}

.background {
    padding-bottom: 50px;
}

.navbar, .navbar-default{
    border-radius: 0;
    margin-bottom: 0;
    background-image: none;
    background-color: #2c213e;
    border: none;
}

.info-item {
  padding: 15px;
}

.k-input {
  padding-top: 25px;
}

.purple-background {
  background-color: #3f2f5a;
}

.white-text {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

a {
  color: #be94ff;
}

a:hover {
  color: #7b49c7;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #be94ff;
}

.purple-text {
  color: #8e4fef;
}

.stream-input{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #8877a5;
  background-color: transparent;
  padding-top: 25px;
  width: 100%;
  color: white;
}
.stream-input:focus {
  border-color:#be94ff;
  background-color: transparent;
}

.stream-input::placeholder{
  color:  #8877a5;
  margin-bottom: 15px;
}

.donate {
  max-width: 150px;
}

html {
  scroll-behavior: smooth;
}

.spinner {
  font-size:100px;
  color: #be94ff;
  margin-top: 50px;
}

.padding-right {
  padding-right: 30px;
}
.padding-left {
  padding-left: 30px;
}
